<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>New Artist</title>
</head>
<body>
<div><a href="/"><img src="/images/SIWDb_logo.png" width="15%"/></a></div>
<h1>Add Artist</h1>
<form th:action="@{/admin/artist}" method="POST" th:object="${artist}">
    <div>
        <p th:if = "${#fields.hasGlobalErrors()}" th:each = "err : ${#fields.globalErrors()}" th:text="${err}"></p>
    </div>
    <div>
        Name: <span><input required type="text" th:field="${artist.name}"/></span>
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
    </div>
    <div>
        Surname: <span><input required type="text" th:field="${artist.surname}"/></span>
        <span th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></span>
    </div>
    <div>
        Date of Birth: <span><input type="date" th:field="${artist.dateOfBirth}" /></span>
    </div>
    <div>
        <span><button type="submit">Confirm</button></span>
    </div>
</form>

</body>
</html>