<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
  <title>New Movie</title>
</head>
<body>
  <div><a href="/"><img src="/images/SIWDb_logo.png" width="15%"/></a></div>
  <h1>Add Movie</h1>
  <form th:action="@{/admin/movie}" method="POST" th:object="${movie}">
    <div>
      <p th:if = "${#fields.hasGlobalErrors()}" th:each = "err : ${#fields.globalErrors()}" th:text="${err}"></p>
    </div>
    <div>
      Title: <span><input required type="text" th:field="${movie.title}"/></span>
      <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
    </div>
    <div>
      Year: <span><input required type="text" th:field="${movie.year}"/></span>
      <span th:if="${#fields.hasErrors('year')}" th:errors="*{year}"></span>
    </div>
    <div>
      <span><button type="submit">Confirm</button></span>
    </div>
  </form>

</body>
</html>