<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Actors</title>
</head>
<body>
  <h1 th:text = "${movie.title}"></h1>
  <div th:unless = "${movie.actors.isEmpty()}">Current actors:
      <ul>
          <li th:each = "actor : ${movie.actors}">
              <span th:text = "${actor.name} + ' ' + ${actor.surname}"></span>
              <a th:href = "@{'/admin/removeActorFromMovie/' + ${movie.id} + '/' + ${actor.id}}"> Remove </a>
          </li>
      </ul>
  </div>
  <div><a th:href="@{'/admin/movie/' + ${movie.id}}"> DONE </a></div>
  <div>All Artists:</div>
  <ul>
    <li th:each = "artist : ${artists}">
      <a th:href = "@{'/admin/addActorToMovie/' + ${movie.id} + '/' + ${artist.id}}"
         th:text = "${artist.name} + ' ' + ${artist.surname}"></a>
    </li>
  </ul>
</body>
</html>