<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
<div th:text="${globalUser.getName()} + ' ' + ${globalUser.getSurname()}"></div>
<form th:action="@{/registered/saveProfileImage}" method="POST" enctype="multipart/form-data">
    <label for="modifyImage">Modifica</label>
    <input id="modifyImage" name="image" type="file" accept="image/*" onchange="form.submit()">
</form>
<img th:src="${globalUser.getPicPath}" width="10%">
</body>
</html>