body {
    background-color:#212529;
    height: 100vh;
}
h1 {
    color: whitesmoke;
}
.w-99{
    width: 99%!important;
}
.w-fit-content{
    width: fit-content;
}
.gradient-blue-dark{
    background-image: linear-gradient(#1870c9, #1c3248, #1c232a, #212529);
}