<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<header>
  <div th:if="${userDetails}">
    <span th:text="${userDetails.username}"></span>
    <a href="/logout">Logout</a>
  </div>
  <div th:unless="${user}">
    <a href="/login">Login</a>
  </div>
</header>

<div>
  <div><a href="/"><img src="/images/SIWDb_logo.png" width="15%"/></a></div>
</div>
<h1>Login</h1>
<form th:action="@{/login}" method="POST">
  <div>
    <span>Username:</span>
    <span><input name="username" type="text" required /></span>
  </div>
  <div>
    <span>Password:</span>
    <span><input name="password" type="password" required /></span>
  </div>
  <div>
    <span th:if="${param.error != null}">Wrong Username or password</span>
  </div>
  <div>
    <span><button type="submit">Login</button></span>
  </div>
</form>
<div>
  <a th:href="@{/register}" th:text="Register">Register</a>
</div>
</body>
</html>