<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>News</title>
</head>
<body>
  <div><a href="/"><img src="/SIWDb_logo.png" width="15%"/></a></div>
  <h1>Consulta le News</h1>
  <div th:if="${news.isEmpty()}">Nessuna notizia nel sistema</div>
  <ul>
    <li th:each = "snews : ${news}">
      <a th:href="@{'/news/' + ${snews.id}}"
         th:text="${snews.title} + '  ' + ${snews.date}">Pino Investito  12/12/2012 </a>
    </li>
  </ul>
</body>
</html>