<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Add Director</title>
</head>
<body>
  <h1 th:text = "${movie.title}"></h1>
  <div th:if = "${movie.director}">Current Director:  <span th:text = "${movie.director.name} + ' ' + ${movie.director.surname}"></span></div>
  <div>All Artists:</div>
  <ul>
    <li th:each = "artist : ${artists}">
      <a th:href = "@{'/setDirectorToMovie/' + ${movie.id} + '/' + ${artist.id}}"
        th:text = "${artist.name} + ' ' + ${artist.surname}"></a>
    </li>
  </ul>
</body>
</html>